#progress_container{
  display: flex;
  font-family: monospace;
  background-color: #0000008a;
  margin-top: 90px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  border: 2px solid white;
  height: fit-content;
}

#progress1{
  margin-top: 20px;
  display: flex;
  width:fit-content;
}
#progress2{
  display: flex;
  margin-top: 20px;
  
  width:fit-content;
}
#progress1 p{
  margin-left: 10px;
  margin-right: 10px;
  color:white;
}
#progress2 p{
  margin-left: 10px;
  margin-right: 10px;
  color:white;
}
.progress-bar {
    width: 300px;
    height: 20px; /* Adjust height as needed */
    border: 2px solid white;
  }
  
  .progress {
    
    height: 100%;
    background-color: #ffffff; /* Change color for progress fill */
    transition: width 1s ease-in-out; /* Add transition for smooth animation */
  }
  #level_container{
    width:100%
  }
  #level{
    font-family: monospace;
    font-size: 100px;
  }
  #level_label{
    font-family: monospace;
    font-size: 50px;
  }
  #progressBarContainer{
    padding-bottom: 20px;
  }
  /* Styles for a cool button */
.cool-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #4caf4f00;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  font-family: monospace;
}

.cool-button:hover {
  background-color: #ffffff65;
}

.cool-button:active {
  transform: translateY(1px);
}

@media (max-width: 400px) {
  .progress-bar {
    width:150px;
    height: 20px; /* Adjust height as needed */
    border: 2px solid white;
  }
  #progress_container{
    display: flex;
    flex-direction: column;
    font-family: monospace;
    background-color: #0000008a;
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    border: 2px solid white;
    height: fit-content;
  }
}